openapi: 3.2.0
info:
  title: Cesanta mDash REST Keys API
  description: mDash is Cesanta's managed IoT cloud platform for devices built with Mongoose OS.
  version: v2
  contact:
    name: Cesanta Support
    email: support@cesanta.com
    url: https://mdash.net/home/
  license:
    name: Cesanta Terms
    url: https://mongoose-os.com/
servers:
- url: https://dash.mongoose-os.com/api/v2
  description: mDash hosted production API
security:
- bearerAuth: []
tags:
- name: Keys
  description: API key management
paths:
  /keys:
    get:
      operationId: listKeys
      summary: List all API keys
      tags:
      - Keys
      responses:
        '200':
          description: List of API keys
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/ApiKey'
        '401':
          description: Missing or invalid bearer token
    post:
      operationId: createKey
      summary: Create an API key
      tags:
      - Keys
      responses:
        '200':
          description: Created API key
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ApiKey'
        '401':
          description: Missing or invalid bearer token
  /keys/{id}:
    delete:
      operationId: deleteKey
      summary: Delete an API key
      tags:
      - Keys
      parameters:
      - $ref: '#/components/parameters/KeyId'
      responses:
        '200':
          description: API key deleted
        '401':
          description: Missing or invalid bearer token
components:
  schemas:
    ApiKey:
      type: object
      description: An mDash API key.
      properties:
        id:
          type: string
        key:
          type: string
  parameters:
    KeyId:
      name: id
      in: path
      required: true
      description: API key identifier
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: mDash API key sent as an HTTP bearer token.
