openapi: 3.0.3
info:
  title: Cesanta mDash REST Data API
  description: 'mDash is Cesanta''s managed IoT cloud platform for devices built with Mongoose OS.

    It provides device management, over-the-air (OTA) firmware updates, a device

    shadow/database, remote RPC, API key management, and notification logs.


    This OpenAPI description was captured from Cesanta''s published REST API reference

    (https://mongoose-os.com/docs/mdash/api.md). Every request must be authenticated

    with an `Authorization: Bearer KEY` header; POST/PUT calls that carry a JSON body

    must set `Content-Type: application/json`.

    '
  version: v2
  contact:
    name: Cesanta Support
    email: support@cesanta.com
    url: https://mdash.net/home/
  license:
    name: Cesanta Terms
    url: https://mongoose-os.com/
servers:
- url: https://dash.mongoose-os.com/api/v2
  description: mDash hosted production API
security:
- bearerAuth: []
tags:
- name: Data
  description: Device data storage and retrieval
paths:
  /devices/{id}/data:
    get:
      operationId: getDeviceData
      summary: Get device saved data
      description: Retrieve the saved data for a single device.
      tags:
      - Data
      parameters:
      - $ref: '#/components/parameters/DeviceId'
      responses:
        '200':
          description: Device data
        '401':
          description: Missing or invalid bearer token
  /devices/data:
    get:
      operationId: getAllDevicesData
      summary: Get data from all devices
      description: Retrieve saved data across all devices on the account.
      tags:
      - Data
      responses:
        '200':
          description: Data for all devices
        '401':
          description: Missing or invalid bearer token
components:
  parameters:
    DeviceId:
      name: id
      in: path
      required: true
      description: Device identifier
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      description: mDash API key sent as an HTTP bearer token.
